.bgHeader {
  height: 70px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  backdrop-filter: blur(5px);
  z-index: -1;
  background: var(--color-dark-opacity);
  border-radius: 7px;
  box-shadow: 1px 1px 2px var(--color-dark);
}

.header {
    height: 70px;
    width: 100%;
    margin: auto;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    text-transform: uppercase;
    font-weight: 500;
    z-index: 1;
  }
  
  .header > a {
    background: linear-gradient(to right, var(--color-primary) 0%, #ff8a00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Fredoka One', Helvetica Neue, sans-serif;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-transform: lowercase;
  }
