.socialLinks a {
margin: 10px;
}

.avatar{
    border: 2px solid black;
}
.infoTitle{
    width: 100%;
    margin: auto;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}