.header {
    width: 100%;
    margin: auto;
    display: flex;
    height: 3.5rem;
    align-items: center;
    justify-content: space-between;
    background-color: #302e2f;
    padding: 1% 10%;
  }
  
  .logo {
    font-size: 2rem;
    color: white;
    font-weight: bold;
  }
  
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .header li {
    margin-left: 3rem;
  }
  
  .header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #cfb689;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: white;
  }
  .main {
    min-height: calc(100vh - 3.5rem);
    max-width: 700px;
    margin: auto;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }