/* Cards */

.blogCard {
    height: fit-content;
    cursor: pointer;
    display: flex;
}

.blogCard img {
    margin: auto;
    height: 150px;
    width: 150px;
    border-radius: 7px;
    object-fit: cover;
    margin-right: 20px;
}

.blogCardDescription {
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Drawer */

.drawerContent {
    top: 50%;
    left: 0;
    margin: auto;
    height: fit-content;
    min-height: 60%;
    border-radius: 10px;
    background-color: var(--color-dark) !important;
    padding: 20px;
}

.drawerBody {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.drawerBody p {
    text-align: justify;
    margin-bottom: 20px;
}

.drawerBody img {
    border-radius: 7px;
    max-width: 60%;
}

.drawerBody button {
    width: fit-content;
    gap: 10px;
    margin: 10px;
    text-align: center;
}

.drawerFooter {
    display: flex;
    gap: 30px;
}


/* MOBILE VIEW */

@media screen and (max-width: 1100px) {
    .blogCard {
        flex-direction: column;
    }
    .blogCard img {
        width: 100%;
        margin-bottom: 20px;
    }

}
@media screen and (max-width: 900px) {
    .workCard {
        width: 100%;
        margin: auto;
    }

    .drawerBody {
        flex-direction: column-reverse;
    }

    .drawerBody img {
        width: 100%;
        margin: auto;
    }

    .blogCard {
        flex-direction: column;
        width: 100%;
    }

    .blogCard img {
        width: 100%;
    }
}
