.containerTitle {
    width: 100%;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.titlePost {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--dark-color-opacity);
    color: #fff;
    padding: 60px;
}

.titlePost h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.headerBlog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.headerBlog h1 {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.cardDescription h1 {
    margin-top: 10px;
}

.cardDescription h1 {
    font-weight: bold;
}

.searchBar input {
    width: 300px;
    z-index: 1;
}

.copyButton {
    float: right;
    border-radius: 5px;
    padding: 4px 6px;
    font-weight: bold;
}

.postContent {
    width: 70%;
    margin: auto;
    white-space: pre-wrap;
}

.postContent h2 {
    font-weight: bold;
}

.postContent pre {
    background-color: rgb(28, 28, 28);
    box-shadow: 1px 1px 2px #ddddddc5;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
    white-space: pre-wrap;
}

@media screen and (max-width: 700px) {

    .containerTitle {
        width: 100%;
    }

    .postContent {
        width: 100%;
    }

    .searchBar input {
        width: 100%;
    }

    .headerBlog {
        justify-content: center;
    }

    .titlePost {
        padding: 20px;
    }

    .titlePost h1 {
        font-size: 1.5em;
        margin: 30px 0;
    }

}