@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Poppins&family=Roboto+Mono&family=VT323&display=swap');

:root {
  --box-color: #ffffff;
  --bg-color: #EFEFEF;
  --bg-color-main-container: #f9f9f9;
  --color-primary: #b88e24;
  --dark-color: rgba(20, 20, 20, 0.94);
  --dark-color-opacity: rgba(20, 20, 20, 0.70);
  font-size: 15px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
html body {
  background-color: var(--bg-color);
  font-family: 'Poppins', Helvetica Neue, sans-serif;

}

body a {
  color: #b88e24;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

body h1 {
  font-size: 1.4rem;
}

body h2 {
  font-size: 1.2rem;
}

body h3 {
  font-size: 1.1rem;
}
.page-header {
  padding: 50px;
}
.section-stack {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.section-stack > img {
  margin: 20px;
}

.header {
  position: fixed;
  top: 0;
  background-color: rgba(20, 20, 20, 0.94);
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 1rem;
  width: 80vw;
  display: flex;
  align-items:baseline;
  justify-content: space-around;
  padding-bottom: 10px;
  z-index: 1;
  text-transform: uppercase;
  box-shadow: 1px 1px 10px #d4d4d480;
}
.text-uppercase {
  text-transform: uppercase;
}

body hr {
  box-shadow: 0 0 1px var(--color-primary);
  margin-bottom: 30px;
}

#logo a {
  color: rgb(255, 255, 255) ;
  font-family: 'VT323';
  text-shadow: 1px 1px 1px var(--color-primary);
  font-size: 2.5rem;
}

.header nav ul {
  list-style: none;
}

.header nav ul li a {
  margin: 3rem;
  font-size: 1.1rem;
}
#blog {
padding-top: 90px;
}

.about-buttons {
  color: #b88e24;
  display: flex;
  flex-wrap: wrap;
}
.about-buttons > button {
  margin-right: 30px;
}

.main-container {
  width: 80vw;
  margin: 10px auto;
  margin-top: 70px;
}

.bg-container {
  background-color: var(--bg-color-main-container);
  box-shadow: 1px 1px 10px #d4d4d480;
  border-radius: 10px 10px 0 0;
  padding: 50px;
  font-size: 16px;
}
.blog-section{
  padding-top: 50px;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.flex-space-between {
  width: 100%;
  justify-content:space-between;
}
.flex-space-between div {
  width: 48%;
}
.flex-space-between div input{
  width:100%;
}

.flex-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-left {
  max-width: 30%;
}
.flex-right{
  max-width: 70%;
}
.text-center {
  text-align: center;
}

.align-left {
  text-align: left;
  justify-content: left;
  align-items: center;
}
.align-center {
  margin: auto;
}

.madeby {
  padding-top: 50px;
}

.section-title {
  width: fit-content;
  margin: 0 auto;
  color: #000000;
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.full-height {
  height: 100vh;
}

.full-width {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form {
  width: 70%;
}

.avatar {
  border: 3.5px solid #000000;
  margin:auto;
}

.box {
  background: var(--box-color);
  box-shadow: 2px 2px 10px #ddddddc5;
  border-radius: 15px;
  color: #000;
  padding: 40px;
}

.about-info {
  width: 50%;
}
.emoji-hello {
  justify-content: flex-start;
}

.social-links {
  display: flex;
  justify-content:space-evenly;
}

.social-links a {
  color: #000;
  z-index: 1;
}
.social-links a:hover {
  color: var(--color-primary);
}

.footer-bg {
  height: 100%;
  width: 100%;
  padding: 50px;
  background-color: #222222;
  color: #c1c1c1;
  border-radius: 0 0 10px 10px;
  box-shadow: 1px 1px 10px #d4d4d480;
  background-size: contain;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.emoji-coffee {
  font-size: 1.3rem;
}

.description {
  text-align: justify;
  line-height: 2rem;
}

.underline {
  text-decoration: underline;
}

.particles {
position: absolute;
width: calc(100vw - 20%);
height: 100vh;
}

.rocket {
  position: relative;
  left: 50px;
}

.author {
font-size: 1rem;
}
.bold-title{
  font-weight: bold;
  color: red;
}

@media screen and (max-width: 570px) {
  .header {
    flex-direction: column;
    width: 100vw;
    margin: auto;
    display: flex;
    align-items: center;
  }

  .section-stack {
    width: 100%;
  }

  .main-container {
    width: 100vw;
    margin-top: 100px;
  }

  .about-info {
    width: 100%;
  }
  #contact form {
    width: 100%;
  }
  .rocket  {
    left: 0;
    margin-bottom: 30px;
    
  }
  .rocket img {
    max-width: 120px;
    height: auto;
  }
  .madeby {
    display: block;
    text-align: center;
  }
  .flex-space-between div {
    width: 100%;
  }
  .flex-left, .flex-right {
   max-width: 90%;
  }
  .bg-container {
    padding: 20px;
  }
}