@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Poppins&family=Roboto+Mono&family=VT323&display=swap');

:root {
  --box-color: #ffffff;
  --box-color-opacity-90: rgba(255, 255, 255, 0.9);
  --bg-color: #EFEFEF;
  --bg-color-main-container: #f9f9f9;
  --color-primary: #ffae22;
  --dark-color: rgba(20, 20, 20, 0.94);
  --dark-color-opacity: rgba(20, 20, 20, 0.70);
  font-size: 15px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
html body {
  background-color: var(--bg-color);
  font-family: 'Poppins', Helvetica Neue, sans-serif;

}

body a {
  color: var(--color-primary);
  text-decoration: none;
}

body button {
  gap: 10px;
  text-align: center;
  background-color: #000;
  color: #fff;
}

body button:hover {
  color: var(--color-primary);
}

body h1 {
  font-size: 1.7rem;
}

body h2 {
  font-size: 1.5rem;
}

body h3 {
  font-size: 1.2rem;
}

body hr {
  box-shadow: 0 0 1px var(--color-primary);
  margin-bottom: 30px;
}

.section-stack {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.section-stack > img {
  margin: 20px;
}
.text-uppercase {
  text-transform: uppercase;
}

/* DESKTOP MENU */

header {
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: var(--dark-color);
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 1rem;
  z-index: 1;
  text-transform: uppercase;
  box-shadow: 1px 1px 10px #d4d4d480;
}

.site-navbar {
  width: 85vw;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-icon {
  color: #EFEFEF;
}

.nav-options {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 50px;
}

#logo {
  background-image:url(/images/og_logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 65px;
  height: 40px;

}

#logo:hover {
  background-image:url(/images/og_logo_wink.png);
}

.site-navbar > a {
  color: rgb(255, 255, 255) ;
  font-family: 'VT323';
  text-shadow: 1px 1px 1px var(--color-primary);
  font-size: 2.8rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}
.site-navbar span:hover {
  cursor: pointer;
}

.site-navbar ul a {
  color: var(--color-primary);
  font-size: 1.2em;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.site-navbar ul li a:hover {
  border-bottom: 2px solid #fff;
}

.site-navbar ul li:hover {
  margin-bottom: -2px;
}

#blog {
padding-top: 90px;
}

.about-buttons {
  color: #b88e24;
  display: flex;
  flex-wrap: wrap;
}
.about-buttons > button {
  margin-right: 30px;
}

.main-container {
  width: 85vw;
  margin: 60px auto 0 auto;
}

.bg-container {
  padding: 50px;
  background-color: var(--bg-color-main-container);
  box-shadow: 1px 1px 10px #d4d4d480;
  border-radius: 10px 10px 0 0;
}

.blog-section{
  padding-top: 50px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.flex-space-between {
  width: 100%;
  justify-content:space-between;
}

.flex-space-between div {
  width: 48%;
}

.flex-space-between div input{
  width:100%;
}

.flex-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.flex-left {
  max-width: 30%;
}

.flex-right{
  max-width: 70%;
}

.text-center {
  text-align: center;
}

.align-left {
  text-align: left;
  justify-content: left;
  align-items: center;
}

.align-center {
  margin: auto;
}

.madeby {
  padding-top: 50px;
}

.section-title {
  width: fit-content;
  margin: 0 auto;
  color: #000000;
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.full-height {
  min-height: calc(100vh - 60px);
}

.full-width {
  width: 100%;
  min-height: calc(100vh - 60px);
  margin: auto;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form {
  width: 70%;
}

.avatar {
  border: 3.5px solid #000000;
  margin:auto;
}

.box {
  background: var(--box-color);
  box-shadow: 2px 2px 10px #ddddddc5;
  border-radius: 15px;
  color: #000;
  padding: 40px;
}

.about-info {
  width: 50%;
}
.emoji-hello {
  justify-content: flex-start;
}

.social-links {
  display: flex;
  justify-content:space-evenly;
}

.social-links a {
  color: #000;
  z-index: 1;
}
.social-links a:hover {
  color: var(--color-primary);
}

.footer-bg {
  padding: 50px;
  margin: auto !important;
  background-color: #222222;
  color: #c1c1c1;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.emoji-coffee {
  font-size: 1.3rem;
}

.description {
  text-align: justify;
  line-height: 2rem;
}

.underline {
  text-decoration: underline;
}

.particles {
position: absolute;
width: calc(100vw - 20%);
height: 100vh;
}

.rocket {
  position: relative;
  left: 50px;
}

.author {
font-size: 1rem;
}

.mobile-menu {
  display: none;
}

/* MOBILE VIEW */
@media screen and (max-width: 650px) {
  
  .mobile-menu {
  display: block;
  }

  header {
    flex-direction: column;
    width: 100vw;
    margin: auto;
    display: flex;
    align-items: center;
  }

  .nav-options {
    width: 100%;
    position: absolute;
    top: 65px;
    left: 50%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style: none;
    gap: 0;
  }

  .nav-options.active {
    background: var(--dark-color);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding: 20px;
  }

  .site-navbar {
    width: 100vw;
    padding: 0 40px;
  }

  .site-navbar ul a {
    padding: 10px 0px;
  }

  .section-stack {
    width: 100%;
  }

  .main-container {
    width: 100%;
  }

  .about-info {
    width: 100%;
  }

  #contact form {
    width: 100%;
  }

  .rocket  {
    left: 0;
    margin-bottom: 30px;
  }

  .rocket img {
    max-width: 120px;
    height: auto;
  }

  .madeby {
    display: block;
    text-align: center;
  }

  .flex-space-between div {
    width: 100%;
  }

  .flex-left, .flex-right {
   max-width: 90%;
  }

  .bg-container {
    padding: 30px;
  }
}