.aboutHeader {
  width: max-content;
}

.aboutHeader h1 {
  font-size: 2.4rem;
  font-weight: 600;
}

.aboutHeader h2 {
  font-weight: 500;
}

.description {
  margin-top: 40px;
  font-size: 1.1rem;
  text-align: justify;
}

.avatar {
  width: 120px;
  height: 120px;
}

.hexagonBackground {
  -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  margin: auto 0;
  background-color: var(--bg-card);
  border: 4px solid var(--bg-card);
}

.hexagonBorder {
  -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  width: 120px;
  height: 110px;
  object-fit: cover;
}

.links {
  width: fit-content;
  margin: 40px 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  list-style: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.links li {
  display: flex;
  align-items: center;
  gap: 20px;
}

.notInView {
  width: 2rem;
  transition: width 0.4s;
}

.inView {
  width: 4rem;
  transition: width 0.4s;
}

/* MOBILE VIEW */
@media screen and (max-width: 900px) {

  .description{
    max-width: 500px;
  }

}